<header class="fixed flex justify-between w-screen z-10 px-6 top-6 text-black">
  <a class="l-anim" name="Home" href="/">
    <span>Home</span>
  </a>
  <nav>
    <a class="l-anim" name="About" href="/about">About</a>
  </nav>
</header>