<!doctype html>
<html lang="en">
	{% include "components/head.njk" %}

	<body class="antialiased laptop:overflow-hidden overflow-x-hidden overflow-y-auto" data-barba="wrapper">
		{% include "components/nav.njk" %}
		{{ layoutContent | safe }}
		{% include "components/footer.njk" %}
	</body>
</html>